html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eff6ff;
  color: #2a4a5c;
  font-family: Barlow, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  margin: 95px auto;
  padding: 0 20px;
  max-width: 1640px;
}

.block {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  display: flex;
}
@media (width <= 1400px) {
  .block {
    flex-wrap: wrap;
  }
}

.text_opacity {
  opacity: 0.5;
}

.text_weight_s {
  font-weight: 400;
}

.text_weight_m {
  font-weight: 500;
}

.text_weight_l {
  font-weight: 600;
}

.display_fl {
  display: flex;
}

.display_int {
  display: initial;
}

.gap_s {
  gap: 10px;
  display: flex;
}

.gap_m {
  gap: 20px;
  display: flex;
}

.gap_l {
  gap: 50px;
  display: flex;
}

.block__left {
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
  width: 55%;
}
@media (width <= 1400px) {
  .block__left {
    height: 600px;
    width: 100%;
  }
}

.logo__img {
  padding-top: 40px;
  padding-left: 60px;
}
@media (width <= 1400px) {
  .logo__img {
    padding: 40px 60px;
  }
}

.block__right {
  background-color: #fff;
  flex-grow: 1;
  width: 45%;
}
@media (width <= 1400px) {
  .block__right {
    width: 100%;
  }
}

.inner {
  padding: 100px 50px;
}

.top-text__title {
  font-size: 38px;
  line-height: 130%;
}

.top-text__subtitle {
  font-size: 28px;
  line-height: 110%;
}

@media (width <= 768px) {
  .buttons {
    flex-wrap: wrap;
  }
}

.buttons__inner {
  margin: 55px 0;
}

.button {
  margin: 0;
  padding: 0;
  border: 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.buttons__facebook {
  background-color: #255a9b;
  width: 100%;
}

.button__flex {
  align-items: center;
  gap: 20px;
  padding: 15px;
}

.button__text {
  color: #fff;
  font-size: 16px;
}

.buttons__in {
  background-color: #0076b6;
  width: 100%;
}

.separator {
  margin: 0 auto;
  max-width: 200px;
  position: relative;
  text-align: center;
}
.separator::before {
  content: "";
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  top: 7px;
  position: absolute;
  width: 100px;
  left: -25px;
}
.separator::after {
  content: "";
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  top: 7px;
  position: absolute;
  width: 100px;
  right: -25px;
}

@media (width <= 768px) {
  .input {
    flex-wrap: wrap;
    gap: 10px;
  }
}

.input__field {
  margin: 55px 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 70px;
  position: relative;
  width: 50%;
}
@media (width <= 768px) {
  .input__field {
    margin: 0;
    margin-top: 55px;
    width: 100%;
  }
}

.input__item {
  all: unset;
  font-size: 20px;
  height: 100%;
  position: absolute;
  width: 100%;
}

.input__item[placeholder] {
  padding: 0 5px;
  font-weight: 600;
}

.input__label {
  padding-left: 5px;
  color: #96a5b1;
  font-size: 16px;
  position: absolute;
  top: 0;
}

.input__field .input__item:focus {
  border-left: 1px solid #3698fb;
}

.second-text {
  margin-top: 70px;
}

.second-text__title {
  font-size: 28px;
}

.second-text__subtitle {
  margin-bottom: 50px;
  font-size: 20px;
}

.radio {
  margin-bottom: 170px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media (width <= 768px) {
  .radio {
    flex-wrap: wrap;
  }
}

.radio__button {
  align-items: center;
  height: 100%;
  justify-content: center;
}
@media (width <= 768px) {
  .radio__button {
    margin-bottom: 10px;
    flex-basis: 50%;
    justify-content: flex-start;
  }
}

.radio__label {
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}

.radio__input[type=radio] {
  display: none;
  position: relative;
}

.radio__input[type=radio] + .radio__label::before {
  content: "";
  border: 2px solid #afafaf;
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  width: 20px;
}

.radio__input[type=radio]:checked + .radio__label::before {
  background-color: transparent;
  border: 4px solid #3698fb;
}

.information {
  position: relative;
  text-align: center;
}
.information::after {
  content: "";
  border: 2px solid #afafaf;
  border-radius: 50%;
  height: 15px;
  position: absolute;
  right: -6px;
  top: 1px;
  width: 15px;
}

.information:hover + .information_position1 {
  display: block;
}

.information_position1 {
  left: 0;
}

.information:hover + .information_position2 {
  display: block;
}

.information_position2 {
  left: 200px;
}
@media (width <= 768px) {
  .information_position2 {
    left: 0;
  }
}

.information:hover + .information_position3 {
  display: block;
}

.information_position3 {
  right: 155px;
}
@media (width <= 768px) {
  .information_position3 {
    right: 0;
  }
}

.information:hover + .information_position4 {
  display: block;
}

.information_position4 {
  right: 0;
}

.information_open {
  padding: 15px;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  color: #7b8a92;
  display: none;
  font-size: 18px;
  line-height: 1.3;
  position: absolute;
  top: 60px;
  width: 320px;
}

.checkbox__label {
  opacity: 0.8;
}

@media (width <= 768px) {
  .checkbox__agree {
    display: block;
  }
}

.checkbox__agree-view {
  color: #3698fb;
  text-decoration-line: underline;
}

.create {
  background-color: #3698fb;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  width: 50%;
}

.inner__create {
  margin-top: 70px;
  padding: 20px 0;
}/*# sourceMappingURL=main.css.map */